<p>modal works!</p>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-haspopup >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{country.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        
            <div class="modal-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Capital :</td>
                            <td>{{country.capital}}</td>
                        </tr>
                        <tr>
                            <td>Region :</td>
                            <td>{{country.region}}</td>
                        </tr>
                        <tr>
                            <td>Population :</td>
                            <td>{{country.population}}</td>
                        </tr>
                        <tr *ngFor="let language of country.languages;let indice=index">
                            <td>Language {{indice+1}}</td>
                            <td>{{language.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-Sdimiss="modal">Close</button>
            </div>
        </div>

    </div>

</div>
